ALTER USER USER() IDENTIFIED BY '{{ SLAVE_PASS }}';
CREATE USER IF NOT EXISTS '{{ REPL_USER }}' IDENTIFIED BY '{{ REPL_PASS }}';
GRANT SELECT ON *.* TO '{{ REPL_USER }}'@'%' IDENTIFIED BY '{{ REPL_PASS }}';
CREATE DATABASE IF NOT EXISTS {{ DB_NAME }};
USE {{ DB_NAME }};
RESET master;
SOURCE /tmp/social.dump.sql;
CHANGE MASTER TO MASTER_HOST = '{{ MASTER_HOST }}', MASTER_PORT = 3306, MASTER_USER = "{{ REPL_USER }}", MASTER_PASSWORD = "{{ REPL_PASS }}", MASTER_AUTO_POSITION = 1;
START SLAVE;
INSTALL PLUGIN rpl_semi_sync_slave SONAME 'semisync_slave.so';
SET GLOBAL rpl_semi_sync_slave_enabled = 1;
STOP SLAVE io_thread;
START SLAVE io_thread;
