SET password = PASSWORD('{{ MASTER_PASS }}');
CREATE DATABASE IF NOT EXISTS {{ DB_NAME }};
CREATE USER '{{ REPL_USER }}'@'%' IDENTIFIED BY '{{ REPL_PASS }}';
GRANT REPLICATION SLAVE ON *.* TO '{{ REPL_USER }}'@'%' IDENTIFIED BY '{{ REPL_PASS }}';
GRANT ALL ON *.* TO '{{ REPL_USER }}'@'%';
